.container {
  border: none;

  padding: 2vw;
  height: 100vh;
  overflow: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

@media only screen and (min-width: 700px) {
  .container {
    margin: 0 30vw;
    border: 1px solid #333;
  }
}
